/*******Tags*******/
body { 
   /*
    background-image: url("../images/mountains.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    background-size: 75%;
    */
    margin: 0;
    text-align: center;
    font-size: 175%;
    
    
}

a {
    color:#11999E;
    margin: 6.25rem 2rem;
    
}

a:hover {
    color:#eaf6f6;
}


h1 {
    margin-top: 0;
    padding-top: 10rem;
    font-family: "Kaushan Script", sans-serif;
    font-size: 5.625rem;
    color: #66bfbf;
}


h2 {
    font-size: 2.5rem;
    color: #66bfbf;
    font-weight: normal;
}


h3 {
    color: #11999E;
}


hr {
  border: none;
  border-top: 6px dotted #eaf6f6;
  width: 6%;           /* ajustabil pentru 6 puncte */
  margin: auto;     /* centru pe pagină, sus/jos spațiu */
}


/*
div {
    height: 200px;
    width: 200px;
}
    */



/*******Classes*******/

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.contact-me {
    width: 50%;
    margin: 100px auto 100px auto;
}

.cloudsImg {
    height:150px;
}

.mountainImg {
    height: 450px;
    width: 600px;
   
}

.skill-row {
    position: relative;
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 150%;
}

.skillRow {
    width: 25%;
    margin-bottom: 50px;
}



/*******Id's*******/

#topdiv {
    background-color: #e4f9f5;

}

#profile {
    padding-top: 20px;
    width: 50%;
    margin:100px auto 100px auto;
}

#profilePic {
    width: 200px;
    padding-bottom: 50px;
}

#bottomCloud {
    position: absolute;
    right: 50px;
    top: 50px;
}

#topCloud {
    position: absolute;
    left: 50px;
    top: 250px;
}

#developerPic {
    float: left;
    margin-right: 30px;
}

#linuxPic {
    float: right;
    margin-left: 30px;
}

#contactMe {
    width: 25% ;
}

#footer {
    background-color: #66bfbf;
    margin-top: 30px;
    padding-bottom: 20px;
    padding-top: 50px;
    
}

#copyright {
    color: #eaf6f6;
    margin-top: 80px;
}

#contactBtn {
    margin-top: 100px;
    margin-bottom: none;
}
